## Análise de Regressão

- Descarregue os dados Estudantes.csv usando o link https://www.dropbox.com/scl/fi/
c84nw3do7fk98vc36qb3e/Estudantes.csv?rlkey=z89gphri2gfvfuubjxr3vokgw&dl=0. Estes
dados são os resultados de um estudo feito a estudantes de duas escolas de ensino médio. As
variáveis dos dados são:
    - 1. Tipo: Tipo de escola. 1 Pública e 2 Privada.
    - 2. Idade: Idade do estudante em anos.
    - 3. TempoE. Tempo de estudo semanal, em horas, fora de aula.
    - 4. Hsono: Número médio de horas que dorme por noite.
    - 5. Alcool: Número médio de vezes que tem contato com álcool, por mês.
    - 6. Depor: Número médio de horas dedicadas a alguma atividade esportiva, por semana.
    - 7. Nota: Nóta média obtida no ano de todas as disciplinas.
    Fonte dos dados: Center for Machine Learning and Intelligent Systems.
        - http://cml.ics.uci.edu/

### 0. Dependências

In [5]:
import numpy as np
import pandas as pd
from scipy import stats as st
import statsmodels as stm

### 0.1 Vamos trabalhar os dados?

In [8]:
dados = pd.read_csv('Estudantes.csv', sep=';', decimal='.')

In [9]:
dados.head()

   Tipo  Idade  TempoE  Hsono  Alcool  Depor Nota
0     1     17       1      4       2      0  2,1
1     1     16       1      5       1      2  2,3
2     1     17       2      5       1      0  2,3
3     1     18       2      5       1      2  2,3
4     1     16       2      7       3      1  2,4

### 0.2 Vamos realizar uma EDA nos dados:

In [ ]:
dados = pd.read_csv('Estudantes.csv', sep=';', decimal='.')

In [ ]:
dados.head()

   Tipo  Idade  TempoE  Hsono  Alcool  Depor Nota
0     1     17       1      4       2      0  2,1
1     1     16       1      5       1      2  2,3
2     1     17       2      5       1      0  2,3
3     1     18       2      5       1      2  2,3
4     1     16       2      7       3      1  2,4

### 1. Que tipo de variáveis temos nos dados?

### 2. Como utilizaria a variável tipo de escola dentro da análise destes dados?

### 3. Apresente uma equação para um modelo de regressão linear cuja variável resposta seja a Nota média (tenha em conta que o modelo de regressão é para variáveis numéricas).

### 4. Apresente testes de hipóteses sobre o modelo e suas conclusões

### 5. Verique todos os supostos do modelo. O que pode concluir?

### 6. Apresente o código usado